<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_index') }}">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tag</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('all_category') }}">Category</a>
            </li>
            <li>
                {% if app.user %}
                    Bonjour {{ app.user.email }} !
                    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>